.navbar {

  // FORMAT DESKTOP
  width: 100vw;
  padding: 1rem var(--padding-desktop-horizontal);
  position: fixed;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(var(--color-background), 0);;
  border-bottom: 1px solid transparent;

  transition: background-color .3s;

  // brand logo
  & > a {
    display: flex;
    align-items: center;

    svg { margin-right: 1rem; }

    strong {
      font-family: rgb(var(--font-heading));
      font-weight:  700;
    }
  }

  .hamburger-menu {
    display: none;
  }

  ul {
    display: flex;

    &:hover {
      color: rgba(var(--color-text), .6);

      li:has(:hover) {
        color: rgb(var(--color-text));
      }
    }

    a {
      padding: .5rem 1rem;
      position: relative;
      transition: color .3s ease;

      &::after {
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);

        background: rgb(var(--color-accent));

        transition: width .3s ease;
      }

      &.active {
        letter-spacing: 0.012rem;

        &::after {
          width: 40%;
        }
      }
    }
  }

  // FORMAT RESPONSIVE
  @media screen and (max-width: 728px) {
    
    // croix
    .hamburger-menu {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      svg {
        transition: .5s;
      }

      // menu hamburger cliqué
      &.active {
        svg:first-child {
          transform: rotate(45deg) translateX(3px) translateY(11px)
        }
        svg:last-child  {
          transform: rotate(-45deg)
        }
      }
    }

    // liste en deça de la croix
    ul {
      z-index: 1000;
      position: absolute;
      bottom: 0;
      width: 100vw;
      left: 0;

      background-color: rgba(var(--color-background), .8);

      opacity: 0;
      pointer-events: none;
      transition: opacity .6s ease, transform .6s ease;

      display: flex;
      flex-direction: column;
      align-items: flex-end;

      li:first-child {
        border-top: rgb(var(--color-secondary-light)) 1px solid;
      }

      li {
        width: 100%;
        padding: 0.5rem 0;
        text-align: end;

        border-bottom: rgb(var(--color-secondary-light)) 1px solid;
      }

      a::after {
        content: none;
      }

      &.active {
        pointer-events: auto;
        opacity: 1;
        transform: translateY(100%);
      }
    }
  }
}