
// cta en bas de la section des acteurs
#actors {
  & > div:last-child {
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    text-align: center;

    p {
      font-size: var(--typescale-lead);
    }
  }
}

.actors-grid {
  margin-top: 4rem;
  padding: 0 20%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  & > div:first-child {
    margin-top: 10rem;
  }
}

.price-wrapper {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 100%);

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 10vw;
    height: 100%;
    z-index: 2;
  }

  &::before {
    left: 0;
    background: linear-gradient(90deg, rgb(var(--color-background)) 0%, transparent 100%);
  }

  &::after {
    right: 0;
    background: linear-gradient(90deg, transparent 0%, rgb(var(--color-background)) 100%);
  }

  // container
  & > div {
    width: 100%;
    height: 100vh;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 2rem;

    // contents
    & > div {
      text-align: left;
      display: flex;
      align-items: center;
      gap: 2rem;

      h3 {
        font-size: var(--typescale-h2);
        font-weight: 900;
        font-family: var(--font-heading);
        letter-spacing: -1px;
        line-height: 100%;
      }
    }

    // line
    span {
      width: 2px;
      height: 100px;
      bottom: 0;
      display: block;

      background: linear-gradient(0deg, rgb(var(--color-primary)) 0%, rgb(var(--color-background)) 100%);
    }

    &:nth-child(1) span {
      height: 40vh;
    }
    &:nth-child(2) span {
      height: 30vh;
    }
    &:nth-child(3) span {
      height: 20vh;
    }
    &:nth-child(4) span {
      height: 10vh;
    }
  }
}

// Page navigation
aside {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  display: flex;
  align-items: center;
  gap: 4rem;

  nav {
    position: relative;
    display: flex;
    align-items: flex-end;

    background: rgb(var(--color-secondary-light));
    border-radius: var(--border-radius);

    span {
      z-index: 1;
      bottom: 0;
      display: block;
      position: absolute;
      background: rgb(var(--color-primary));
      border-radius: var(--border-radius);
      transition: left .3s ease, width .3s ease, opacity .3s ease;
    }

    ul {
      z-index: 2;
      display: flex;
      gap: 1rem;

      a {
        display: block;
        padding: .5rem 2rem;

        border-radius: var(--border-radius);
        transition: box-shadow .3s ease;

        &:not(&.active):hover {
          box-shadow: 0 0 0 2px rgb(var(--color-primary));
        }

        &.active {
          color: rgb(var(--color-background));
        }
      }
    }
  }

  .share-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;

    button {
      padding: .5rem 1rem;
      order: 2;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      cursor: pointer;

      background: rgb(var(--color-secondary-light));
      border-radius: var(--border-radius);
      transition: box-shadow .3s ease;

      &:hover {
        box-shadow: 0 0 0 2px rgb(var(--color-primary));
      }
    }

    ul {
      top: -4rem;
      position: absolute;
      display: flex;
      gap: 0;
      transform: translateX(-2rem);
      opacity: 0;
      transition: gap .2s ease, transform .2s ease, opacity .2s ease;

      &.show {
        gap: 1rem;
        transform: translateX(0);
        opacity: 1;
      }

      a {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(var(--color-secondary));
        border-radius: 100px;

        &:hover {
          background: rgb(var(--color-secondary-light));
        }
      }
    }
  }
}

// small desktop
@media only screen and (max-width: 1040px) {
  .actors-grid {
    padding: 0 1rem;
  }
}

// Pour tablette
@media only screen and (max-width: 768px) {
  .price-wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &::before,
    &::after {
      content: none;
    }

    & > div {
      height: auto;

      & div h3 {
        font-size: var(--typescale-h3);
      }

      img {
        height: 20vw;
      }

      span {
        display: none;
      }
    }
  }

  #actors {
    & > div:last-child {
      padding: 10rem 0;
    }
  }
  .actors-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 4rem;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }

    & > div:first-child {
      margin-top: 0;
    }
  }
}


// Pour telephone
@media only screen and (max-width: 426px) {

  .price-wrapper {
    justify-content: flex-start;
    & > div {
      align-items: flex-start;

      & > div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        img {
          place-self: center;
        }
      }
    }
  }

  .actors-grid {
    padding: 0;
  }

  aside {
    flex-direction: column;
    gap: 1rem;
  }
}