

.actors-grid {
  margin-top: 4rem;
  padding: 0 20%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  & > div:first-child {
    margin-top: 10rem;
  }
}

