#body_presentation_saisons {

    // FORMAT DESKTOP
    &>main {

        padding: 0 var(--padding-desktop-horizontal);

        h3 {
            font-size: var(--typescale-h3);
            font-weight: 700;
        }
    
        // Teintes de violet (bg) alternées entre chaque saison
        &>article:nth-child(even){
            background-color: rgba(var(--color-primary), 0.8);
        }
        &>article:nth-child(odd) {
            background-color: rgb(var(--color-primary));
        }

        // lignes de séparation
        &>article+svg {
            width: 70%;
        }

        // Style global des cadres de présentation des saisons
        &>article {
            color: black;
            font-weight: 500;

            padding: 1rem;
            margin: 1rem 0;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            border-radius: var(--border-radius);
            transition: .5s;

            // Pour le responsive plus tard
            &>span {
                display: none;
            }
            &>svg:last-child {
                display: none;
            }

            // Deux parties
            &>div {
                display: flex;
                flex-direction: column;

                gap: 1rem;

                a:hover {
                    cursor: pointer;
                }
            }

            // Partie de gauche
            &>div:first-child {
                flex-basis: 20%;
                flex-shrink: 0;
                flex-grow: 0;

                align-items: center;
                justify-content: space-between;

                // N° saison
                &>p:first-child {
                    padding: 0 2rem;
                    border-radius: var(--border-radius);
                    background-color: white;     
                }

                // poster + légende
                &>figure {

                    figcaption {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                    }
                }
    
                // bouton REGARDER
                &>a {
                    color: white;
                    padding: 0 4rem;

                    transition: 0.8s;
    
                    background-color: rgb(var(--color-accent-dark));
                    border-radius: var(--border-radius);

                    &:hover {
                        left: 300px;
                        box-shadow: inset 20rem 0 0 0 rgb(var(--color-primary-dark));
                    }

                }
            }

            // Partie de droite (résumé)
            &>div:nth-child(3) {
                align-self: stretch;
                flex-grow: 1;
                
                .text-zone{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-grow: 2;
                    gap: 0.5rem;

                    hr {
                        border: 1px solid black;
                        width: 80%;
                    }

                    // texte
                    p {
                        display: none;
                    }

                    p.active {
                        display: block;
                    }

                    // likes pour le responsive
                    div:last-child {
                        display: none;
                        gap: 0rem;
                        p {
                            display: block;
                        }
                    }
                }

                // Mentions en bas
                &>div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-grow: 0;
                }

                // mentions en bas, à gauche
                &>div>div {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    button {
                        transition: 0.2s;
                    }
                    
                    button:hover {
                        cursor: pointer;
                        transform: rotate(8deg);
                    }

                    button.active {
                        background-color: rgb(var(--color-accent-dark));
                    }
                }
            }      
        }
    }

    // ###############################
    // # FORMAT RESPONSIVE TELEPHONE #
    // ###############################
    @media screen and (max-width: 728px) {
        
        main {

            // lignes de séparation
            &>article+svg {
                width: 75%;
            }
            
            // CADRES DE PRESENTATION DES SAISONS
            &>article {
                width: 55%; // plus petit pour le responsive
                justify-content: space-around;
                gap: .5rem;

                padding: .5rem;
                margin: 1rem 0;

                &.on-display {
                    justify-content: flex-start;
                    width: 75%;
                }

                // éléments cachés pour le responsive
                .hidden {
                    display: none !important;
                }

                // afficher les lignes verticales et les étoiles à droite
                &>span {
                    flex-grow: 0;
                    flex-shrink: 0;

                    display: block;
                    height: 90px;
                    width: 1px;
                    background-color: black;

                    &::before {
                        content: "";
                        display: block;
                        width: 3px;
                        height: 3px;
                        background-color: black;

                        transform: translate(-30%);
                    }
                }

                // Deux parties principales de description dans le cadre (poster + boutons)
                &>div {
                    gap: 0.6rem;
                }

                // Partie de gauche
                &>div:first-child {
                    // N° saison
                    &>p:first-child {
                        padding-right: 0.5rem;
                        padding-left: 0.5rem;

                        border-radius: var(--border-radius);
                        background-color: white;
                        
                        font-weight: 400;
                    }

                    // poster + légende
                    &>figure {

                        figcaption {
                            display: flex;
                            font-size: var(--typescale-small-text);

                            p {
                                font-size: smaller;
                            }
                        }
                    }
        
                    // bouton REGARDER
                    &>a {
                        padding-right: 0.5rem;
                        padding-left: 0.5rem;
                        transition: 0.8s;
        
                        background-color: rgb(var(--color-accent-dark));
                        border-radius: var(--border-radius);

                        &:hover {
                            left: 300px;
                            box-shadow: inset 10rem 0 0 0 rgb(var(--color-primary-dark));
                        }
                    }
                }

                // Partie de droite (résumé)
                &>div:nth-child(3) {
                    align-self: center;
                    flex-grow: 0;

                    // si le texte doit être affiché à droite (car bouton cliqué)
                    &.on-display {
                        flex-direction: row;
                        justify-content: start;
                        width: 100%;

                        .text-zone {
                            display: flex !important;
                            justify-content: space-between;
                            order: 2;

                            hr {
                                display: none;
                            }

                            div:last-child.show {
                                display: flex !important;
                            }
                        }

                        // ligne de séparation boutons|texte
                        span {
                            flex-grow: 0;
                            flex-shrink: 0;

                            display: block;
                            height: 100px;
                            width: 1px;
                            background-color: black;

                            &::before {
                                content: "";
                                display: block;
                                width: 3px;
                                height: 3px;
                                background-color: black;
        
                                transform: translate(-30%);
                            }
                        }

                        // zone des boutons
                        div:last-child {
                            gap: 0.5rem;

                            &>div {
                                gap: 0.6rem;
                            }
                        }
                    }
                    
                    .text-zone{
                        display: none;

                        hr {
                            border: 1px solid black;
                            width: 80%;
                        }

                        // texte
                        p {
                            font-size: var(--typescale-responsive-small-text);
                            display: none;
                        }
                        p.active {
                            display: block;
                        }
                    }

                    // Mentions en bas
                    &>div{
                        justify-content: center;

                        // mentions en bas, à gauche
                        &>div:first-child {
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
    
                            &>svg:first-child {
                                display: none;
                            }
    
                            p {
                                display: none;
                            }
    
                            button {
                                width: 35px;
                                height: 35px;
                            }

                            // réajustement de la taille du point d'exclamation
                            button:nth-child(4) {
                                svg {
                                    transform: scale(0.7);
                                }
                            }
                            
                            button:hover {
                                transform: none;
                            }
                        }

                        // étoiles, en bas à droite
                        &>svg {
                            display: none;
                        }
                    }    
                }

                // étoiles totalement à droite pour le responsive
                &>svg:last-child {
                    flex-grow: 0;
                    display: block;
                }
            }
        }
    }
}
