

.button {
  display: inline-block;
  border: 0;
  outline: none;
  padding: 1rem 3rem;

  border-radius: var(--border-radius);
  cursor: pointer;

  font-size: inherit;
  font-family: inherit;

  transition: color .3s ease, background .3s ease;

  &.primary {
    background: rgb(var(--color-primary-light));
    color: rgb(var(--color-background));

    &:hover {
      background: rgb(var(--color-primary-dark));
    }
  }
}